/* The side navigation menu */

#nav-barbar {
  margin-left: 250px;
  transition: 0.5s;
  background-color: #42a5f5; /* 0.5 second transition effect to slide in the sidenav */
}

#navbar-conteent{
  background-color: #42a5f5;
}

.time {
  color: #FFF;
  width: 100%;
  text-align: right;
  padding: 15px 15px 15px 15px;
}

.col-md-12 {
  padding-right: 0px;
  padding-left: 0px; 
}

*{
  border-radius: 0;
}


.navbar-default {
  background-image: none;
}

.sidenav {
    height: 100%; /* 100% Full-height */
    width: 250px; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #FFF ; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
   /* padding-top: 60px;*/ /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

#open {
  display: none;
  color:#FFF;
  transition: display 0.5s;
}

#close {
  display: inline-block;
  color:#FFF;
  transition: display 0.5s;
}

span#open:hover {
  cursor: pointer;
}

span#close:hover {
  cursor: pointer;
}


.profil {
  height: 250px;
  width: 250px;
  vertical-align: middle;
  text-align: center;
  display: table-cell;
  background-color: #1976d2;
  box-shadow: 2px 0px 5px #888888;
  margin-bottom: 20px;
}

div.profil .cen{
  height: 100px;
  width: 100px;
  margin: 0;
  position: relative;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%)
}

div.profil .cen img {
  width: 100%;
  border: 2px solid #FFF;
  margin-bottom:  10px;
  background-color: #FFF;
}

div.profil .cen #nama {
  font-family: 'Oswald', sans-serif;
  font-size: 12px;
  color: #FFF;
}

div.profil .cen #level {
  font-size: 12px;
  color: #FFF;
  background-color: #00c853;
  text-align: center;
  padding: 4px 4px 4px 4px;
  border-radius: 5%;
}


div.menu{
  padding: 8px 8px 8px 8px;
  transition: 0.3s;
  border-bottom: 1px solid #eceff1;
  color: #818181;
}

/*div.menu i {
  margin: 8px 8px 8px 8px;
  text-decoration: none;
  font-size: 18px;
  color: #818181;
  transition: 0.3s;
}*/

div.menu span {
  margin: 8px 8px 8px 8px;
  text-decoration: none;
  font-size: 14px;
}


/* The navigation menu links */
.sidenav a {
/*    margin: 8px 8px 8px 8px;*/
    text-decoration: none;
    font-size: 12px;
/*    display: block;*/
    font-weight: bold;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #FFF;
    text-decoration: none;
    cursor: pointer;
}

.menu:hover {
  background-color: #ececec;
  cursor: pointer;
  text-decoration: none;
  /*color: #FFF;*/
}

.menu.active {
  background-color: #2196f3;
  color: #FFF;
}

div.logout{
    position:absolute; bottom:0;
    padding: 8px 8px 8px 8px;
    color: #818181;
    transition: 0.5s;
}
div.logout:hover {
  background-color: #f44336;
  color: #fff;
}



div.logout span {
  margin: 8px 8px 8px 8px;
  text-decoration: none;
  font-size: 14px;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  padding-right: 15px;
  padding-left: 15px;
  margin-top: 60px;
  transition: margin-left 0.3s;
  margin-left: 250px;
}

#homeTop {
  margin-bottom: 10px;
}
/*Isi Home*/

.data {
  padding: 0 0 0 0;
  height: 100%;
}


.data .dataIn {
  width: 100%;
  height: 160px;
  transition: 0.5s;
}

.data .dataIn:hover {
  box-shadow: 0px 0px 2px #888888;
  cursor:pointer;
}

.data i {
  margin: 30px 0 0 0;
  font-size: 96px;
}
.data #dataSoal {
  background-color: #00e676;
  height: 100px;
  text-align: center;
  color: #FFF;
}

.data #jumlahSoal {
  padding: 8px 8px 8px 8px;
  background-color: #FFF;
  height: 60px;
  color: #b0bec5;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
}

.data #dataUser {
  background-color: #ffc400;
  height: 100px;
  text-align: center;
  color: #FFF;
}

.data #jumlahUser {
  padding: 8px 8px 8px 8px;
  background-color: #FFF;
  height: 60px;
  color: #b0bec5;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
}

.data #dataResponse {
  background-color: #ff1744 ;
  height: 100px;
  text-align: center;
  color: #FFF;
}

.data #jumlahResponse {
  padding: 8px 8px 8px 8px;
  background-color: #FFF;
  height: 60px;
  color: #b0bec5;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
}


.rencent {
  height: 100%;
}

.recent .recentIn {
  width: 100%;
  background: #FFF;
  transition: 0.5s;
  padding: 10px 10px 10px 10px;
  height: 100%;
  border-top: 3px solid #64b5f6;
}

.recent .recentIn .recentTitle {
  font-size: 18px;
  color: #1976d2;
  font-weight: bold;
}


.recent .recentIn .recentTitle .divider {
  margin-top: 10px;
  margin-bottom: 10px;
}


.soal {
  background: #FFF;
  height: 100%;
  border-top: 3px solid #64b5f6;
  margin-top: 30px;
}

.titleGenerate {
  padding: 10px 10px 10px 10px;
  font-size: 12px;
  font-family: 'Oswald', sans-serif;
  color: #818181;
}

.contentGenerate {
  margin-bottom: 10px;
}

.buttonGenerate {
  padding: 25px 25px 25px 25px;
}

.nomerSoal{
  padding: 10px 10px 10px 10px;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  color: #818181;
  width: 100%;
  text-align: right;
  font-weight: bold;
}

.isiSoal {
  padding: 10px 10px 10px 10px;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  color: #818181;
  font-weight: bold;
}


.waktu {
  border-bottom: 1px solid #64b5f6;
  padding: 10px 10px 10px 10px;
  font-size: 18px;
  color: #818181;
  width: 100%;
  text-align: right;
  margin-bottom: 25px;
}

.jawaban .radio{
  text-transform: capitalize;
  padding: 5px 5px 5px 5px;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  color: #818181;
  width: 100%;
  text-align: left;
}

.tombolNextPrev{
  padding-top: 2px;
  padding-bottom: 2px;
  margin-top: 2px;
  width: 10%;
}

.spacing{
  margin-bottom: 25px;
}

#paramNextPrev {
  margin-bottom: 10px;
  margin-top: 10px;
}
/*--Isi Home--*/

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav a {font-size: 18px;}
}